#linechart {
    padding: 15px 8px;
    margin-bottom: 15px;
}

.flexContainer {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: auto;
}

.flexContainer>ul:first-child {
    margin-top: 0;
}

.flexContainer>ul:last-child {
    margin-bottom: 0;
}

.newsFace {
    margin-top: 15px;
    width: 430px;
}

.newsImg {
    height: 75px;
    margin: 10px 0px;
}

.newsLink {
    text-decoration: none;
    color: black;
}

.newsTitle {
    font-weight: bold;
    font-size: 15px;
}

.newsSource {
    font-size: 10px;
    color: gray;
    float: right;
}

.flexContainer>ul {
    transform: translateX(-20px);
}

.el-aside>::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #C3C3C3;
    border-radius: 10px;
}

.el-aside::-webkit-scrollbar {
    width: 8px;
    background-color: #C3C3C3;
}

.el-aside::-webkit-scrollbar-thumb {
    background-color: #409EFF;
    border-radius: 8px;
}