################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/official-doc
/Data/COVID-19-till-0426.xlsx
/Data/COVID-19.xlsx
/Epidemic-map-japan
/html/lib/arcgis_js_v415_api
/DB
/html/node_modules
/node_modules
